<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/about.css" type="text/css">

</head>
<body>
    <div class="logo-svg2">
        <svg width="150" height="75" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
            <g class="layer">
                <rect fill="#cc3737" height="75" id="svg_1" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" width="150" x="0" y="0"/>
                <text fill="#ffffff" font-family="serif" font-size="12" id="svg_4" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" text-anchor="middle" transform="matrix(2.83375 0 0 2.51585 -24.1497 -215.334)" x="30" xml:space="preserve" y="110">Spirtbet</text>
            </g>
        </svg>
    </div>
    <div class="menu">
        <nav class="navMenu">
            <a href="/main">Home</a>
            <a href="/stands">Stands</a>
            <a href="/profile">Profile</a>
            <a href="/bets">Bets</a>
            <a href="/about">About</a>
            <a href="/chat">Chat</a>
            <a href="/forecasts/indexuser">Forecast</a>
            <a href="/logout">Logout</a>
        </nav>
    </div>
    <br><br>
<div class='wrapper'>
<div class='movie'>
Welcome</div>
<div class='job'>
Project Name</div>
<div class='name'>
SPIRTBET 2022</div>
<div class='job'>
Football</div>
<div class='name'>
NEWEST EVENTS</div>
<div class='job'>
Bets</div>
<div class='name'>
PayPal CASH IN</div>
<div class='job'>
Predictions</div>
<div class='name'>
OPEN COMMUNITY CHAT</div>
<div class='job'>
General Director</div>
<div class='name'>
DUSSAYEV DIAS</div>
<div class='job'>
Front-End Developers</div>
<div class='name'>
DUSSAYEV DIAS</div>
<div class='name'>
ORYMBAYEV ALI</div>
<div class='name'>
BIAKHMET DAULET</div>
<div class='name'>
KHEGAY VIKTOR</div>
<div class='job'>
Back-End Developers</div>
<div class='name'>
    DUSSAYEV DIAS</div>
    <div class='name'>
    ORYMBAYEV ALI</div>
    <div class='name'>
    BIAKHMET DAULET</div>
    <div class='name'>
    KHEGAY VIKTOR</div>
<div class='job'>
Database Administrators</div>
<div class='name'>
DUSSAYEV DIAS</div>
<div class='name'>
ORYMBAYEV ALI</div>
</div>







</body>
</html>
