<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/welcome.css" type="text/css">
    <link rel="java" href="/css/master.css">
</head>
<body>
<div class="greetings">
    <p>Welcome to Spirtbet, <%=username%></p>
    <p>Your account was created: <%=date%></p>
</div>
<div class="logo-svg3">
    <svg width="300" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <g class="layer">
            <rect fill="#cc3737" height="150" id="svg_1" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" width="300" x="0" y="0"/>
            <text fill="#ffffff" font-family="serif" font-size="24" id="svg_4" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" text-anchor="middle" transform="matrix(2.83375 0 0 2.51585 -24.1497 -215.334)" x="51.16667" xml:space="preserve" y="136.83333">Spirtbet</text>
        </g>
    </svg>
</div>
<br>
<br>
<br>
<div class="menu">
    <nav class="navMenu">
        <a href="/main">Home</a>
        <a href="/stands">Stands</a>
        <a href="/profile">Profile</a>
        <a href="/bets">Bets</a>
        <a href="/about">About</a>
        <a href="/chat">Chat</a>
        <a href="/forecasts/indexuser">Forecast</a>
        <a href="/logout">Logout</a>
    </nav>
</div>
<br><br><br>
</body>
</html>
