<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/welcome.css" type="text/css">
</head>
<body>
<div class="logo-svg1">
    <svg width="300" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <g class="layer">
            <rect fill="#cc3737" height="150" id="svg_1" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" width="300" x="0" y="0"/>
            <text fill="#ffffff" font-family="serif" font-size="24" id="svg_4" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" text-anchor="middle" transform="matrix(2.83375 0 0 2.51585 -24.1497 -215.334)" x="51.16667" xml:space="preserve" y="136.83333">Spirtbet</text>
        </g>
    </svg>
</div>
<div class="signin-form">
    <form name="form" method="post">
        <div class="title">Welcome</div>
        <div class="subtitle">Login into your account!</div>
        <div class="input-container ic2">
            <input name="username" id="login" class="input" type="text" placeholder=" " />
            <div class="cut cut-short"></div>
            <label for="username" class="placeholder">Login</label>
        </div>
        <div class="input-container ic1">
            <input name="passw" id="password" class="input" type="password" placeholder=" " />
            <div class="cut"></div>
            <label for="passw" class="placeholder">Password</label>
        </div>
        <button type="text" class="submit">Log In</button>
        <%if(message.length > 0 ){%>
            <div class = "subtitle">Error</div>
            <%= message %>
        <%    }%>
        <p class="p">Still don't have an account? <a href="/signin">Sign In</a></p>
    </form>
</div>
</body>
</html>