<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Standings</title>
    <link rel="stylesheet" href="/css/welcome.css" type="text/css">
    <link rel="java" href="/css/master.css">
</head>
<body>
<div class="logo-svg2">
    <svg width="150" height="75" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
        <g class="layer">
            <rect fill="#cc3737" height="75" id="svg_1" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="null" width="150" x="0" y="0"/>
            <text fill="#ffffff" font-family="serif" font-size="12" id="svg_4" stroke="#ffffff" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0" text-anchor="middle" transform="matrix(2.83375 0 0 2.51585 -24.1497 -215.334)" x="30" xml:space="preserve" y="110">Spirtbet</text>
        </g>
    </svg>
</div>
<div class="menu">
    <nav class="navMenu">
        <a href="/main">Home</a>
        <a href="/stands">Stands</a>
        <a href="/profile">Profile</a>
        <a href="/bets">Bets</a>
        <a href="/about">About</a>
        <a href="/chat">Chat</a>
        <a href="/forecasts/indexuser">Forecast</a>
        <a href="/logout">Logout</a>
    </nav>
</div>
<br>
<br>
<br>
<div class="container">
    <div class="subtitle1"><p>League standings</p></div>
    <br><br><br>
    <div class="logo1">
        <input class="epl-logo" id="epl" type="image" src="/pictures/epl-logo.png" onclick="location.href='/efl-stands'">
    </div>
    <div class="logo2">
        <input class="bundes" id="bundes" type="image" src="/pictures/bundes.png" onclick="location.href='/bundes'">
    </div>
    <div class="logo2">
        <input class="laliga" id="laliga" type="image" src="/pictures/laliga.png" onclick="location.href='/laliga'">
    </div>
    <div class="logo2">
        <input class="serie_a" id="serie-a" type="image" src="/pictures/serie_a.png" onclick="location.href='/serie_a'">
    </div>
</div>
</body>
</html>

